<div class="float-right" style="padding-right: 40px;padding-top: 20px;">

    <a [routerLink]="['/upload',albumId]" class="btn btn-success">Upload Photo</a>

</div><br>

<div class="float-right" style="padding-right: 40px;padding-top: 20px;">

    <!-- <a [routerLink]="['/photo',albumId]" >Go to specific photo</a> -->

</div><br>

<h2>Photos in this ALBUM</h2>
<div class="row">
    <div class="col-sm-3" *ngFor="let photo of photos">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="photo.photoUrl" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{photo.createdBy}}</h5>
              <a [routerLink]="['/photo',photo.id]" class="btn btn-primary">Go to Photo</a>
            </div>
          </div>
    </div>
    